deskbuddy.json
[{"id":"35f2d326.881a9c","type":"tab","label":"Flow 1"},{"id":"e811d034.2110a","type":"ibmiot","z":"","name":"DeskBuddy IoT","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"a7b37d5.92696","type":"wiotp-credentials","z":"","name":"","org":"e4c52s","serverName":"","devType":"esp8266","devId":"nodemcu1001","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"5dbe8911.6bafb8","type":"dashDB","z":"","hostname":"bluemix05.bluforcloud.com","db":"BLUDB","port":"50000","name":"BluemixDashDB"},{"id":"e799e7c.6250b18","type":"ibmiot in","z":"35f2d326.881a9c","authentication":"apiKey","apiKey":"e811d034.2110a","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"temp","commandType":"","format":"json","name":"Temperature Messages","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":186.5,"y":188,"wires":[["d4a03749.925148","db76514f.6b4ef"]]},{"id":"9df6082c.b936e","type":"ibmiot in","z":"35f2d326.881a9c","authentication":"apiKey","apiKey":"e811d034.2110a","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"debug","commandType":"","format":"+","name":"Debug Messages","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":167,"y":352,"wires":[["4665e.f17a99a2"]]},{"id":"9f5038d1.8284f8","type":"debug","z":"35f2d326.881a9c","name":"","active":true,"console":"false","complete":"false","x":578.5,"y":367,"wires":[]},{"id":"4665e.f17a99a2","type":"function","z":"35f2d326.881a9c","name":"","func":"var debugString = msg.payload.d.message;\n\nmsg.payload = debugString;\n\nreturn msg;","outputs":1,"noerr":0,"x":371.5,"y":365,"wires":[["9f5038d1.8284f8"]]},{"id":"d4a03749.925148","type":"function","z":"35f2d326.881a9c","name":"Decode Climate Message","func":"var temperature = msg.payload.d.temperature;\nvar humidity = msg.payload.d.humidity;\nvar heatIndex = msg.payload.d.heatIndex;\nvar deviceId = msg.payload.d.deviceId;\n\n//\"Temp=\"+temperature+\"C Humidity=\"+humidity+\"% HeatIndex=\"+heatIndex+\"C\";\n\n\n// prepare SQL for database insertion\n\n\n\nfunction melbourneCurrentLocalTimestamp() {\n    var d = new Date();\n    var current_utc_offset = d.getTimezoneOffset();\n    d.setMinutes(d.getMinutes() + current_utc_offset);\n    d.setMinutes(d.getMinutes() + 10*60);\n    return d;\n}\n\nvar newDate = melbourneCurrentLocalTimestamp();\n\nvar year = newDate.getFullYear();\nvar month = newDate.getMonth();\nvar day = newDate.getDate();\nvar hour = newDate.getHours();\nvar min = newDate.getMinutes();\nvar sec = newDate.getSeconds();\nvar dateStr = \"\"+year+\"-\"+month+\"-\"+day+\"-\"+hour+\":\"+min+\":\"+sec;\n\nvar insertSQL = \"INSERT INTO CLIMATE (DEVICEID,DATEMEASURED,TEMPERATURE,HUMIDITY,HEATINDEX) \";\nvar valuesSQL = \"VALUES ('\"+deviceId+\"',TIMESTAMP_FORMAT('\"+dateStr+\"','YYYY-MM-DD-HH24:MI:SS'),\"+temperature+\",\"+humidity+\",\"+heatIndex+\");\";\n\nmsg.payload = insertSQL+valuesSQL;\n\nreturn msg;","outputs":1,"noerr":0,"x":528,"y":189,"wires":[["b1319927.1c00a"]]},{"id":"db76514f.6b4ef","type":"debug","z":"35f2d326.881a9c","name":"Raw Temp Msgs","active":true,"console":"false","complete":"payload","x":439.5,"y":109,"wires":[]},{"id":"fa9ed2f1.6a6c2","type":"ibmiot out","z":"35f2d326.881a9c","authentication":"apiKey","apiKey":"e811d034.2110a","outputType":"cmd","deviceId":"nodemcu1001","deviceType":"esp8266","eventCommandType":"indicator","format":"json","data":"{\"status\":\"away\"}","qos":0,"name":"IBM IoT","service":"registered","x":540.5,"y":506,"wires":[]},{"id":"aec27c.3c324d88","type":"inject","z":"35f2d326.881a9c","name":"Away","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142.5,"y":533,"wires":[["98d747cd.593b5"]]},{"id":"98d747cd.593b5","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = JSON.stringify({\"status\":\"away\"});\n//msg.payload = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":321.5,"y":538,"wires":[["fa9ed2f1.6a6c2"]]},{"id":"d6d4a107.b9425","type":"inject","z":"35f2d326.881a9c","name":"Here","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137,"y":608,"wires":[["cf473375.6e6d38"]]},{"id":"cf473375.6e6d38","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = JSON.stringify({\"status\":\"here\"});\n//msg.payload = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":624,"wires":[["fa9ed2f1.6a6c2"]]},{"id":"84011872.3ce668","type":"inject","z":"35f2d326.881a9c","name":"Message","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":144,"y":720,"wires":[["e1198c75.3ea8a8"]]},{"id":"e1198c75.3ea8a8","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = JSON.stringify({\"status\":\"message\"});\n//msg.payload = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":736,"wires":[["fa9ed2f1.6a6c2"]]},{"id":"351b39da.c8c60e","type":"http in","z":"35f2d326.881a9c","name":"","url":"/temperature","method":"get","swaggerDoc":"","x":172.5,"y":851,"wires":[["c201d969.9abb8"]]},{"id":"c201d969.9abb8","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = {\n    date:new Date().getTime(),\n    temperature:25.3,\n    humidity:33,\n    heatIndex:23.5\n};\nreturn msg;","outputs":1,"noerr":0,"x":408.5,"y":856,"wires":[["9297a304.a399e"]]},{"id":"9297a304.a399e","type":"http response","z":"35f2d326.881a9c","name":"","x":611.5,"y":851,"wires":[]},{"id":"b1319927.1c00a","type":"dashDB in","z":"35f2d326.881a9c","dashDB":"5dbe8911.6bafb8","service":"_ext_","query":"","params":"","name":"","x":727.5,"y":305,"wires":[["bae38e03.38a2a"]]},{"id":"bae38e03.38a2a","type":"debug","z":"35f2d326.881a9c","name":"","active":true,"console":"false","complete":"false","x":897.5,"y":240,"wires":[]},{"id":"d529508c.3b3bb8","type":"function","z":"35f2d326.881a9c","name":"Retrieve Climate History","func":"var deviceId = msg.req.headers['deviceid'];\n\nvar sql = \"SELECT * FROM CLIMATE WHERE DEVICEID='\"+deviceId+\"' ORDER BY DATEMEASURED ASC LIMIT 8;\";\n\nmsg.payload = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":399.5,"y":959,"wires":[["c297fc67.d55c5"]]},{"id":"2e30940c.f74d14","type":"http in","z":"35f2d326.881a9c","name":"","url":"/climate","method":"get","swaggerDoc":"","x":136.5,"y":946,"wires":[["d529508c.3b3bb8"]]},{"id":"c297fc67.d55c5","type":"dashDB in","z":"35f2d326.881a9c","dashDB":"5dbe8911.6bafb8","service":"_ext_","query":"","params":"","name":"","x":453.5,"y":1023,"wires":[["b8adaf54.3047f8"]]},{"id":"4f899a1e.2c383c","type":"http response","z":"35f2d326.881a9c","name":"","x":772.5,"y":1128,"wires":[]},{"id":"b8adaf54.3047f8","type":"function","z":"35f2d326.881a9c","name":"Format responses","func":"var readings = [];\nvar rawReadings = msg.payload;\n\nif (Object.prototype.toString.call(rawReadings) === '[object Array]') {\n\n    node.warn(\"it is an array of length=\"+rawReadings.length);\n    for (i=0; i < rawReadings.length; i++) {\n        readings.push({\n            dateMeasured: rawReadings[i].DATEMEASURED,\n            temperature: parseFloat(rawReadings[i].TEMPERATURE),\n            humidity: parseFloat(rawReadings[i].HUMIDITY),\n            heatIndex: parseFloat(rawReadings[i].HEATINDEX)\n        })\n    }\n} else {\n    node.warn(\"it is NOT an array\");\n    readings.push({\n        dateMeasured: rawReadings.DATEMEASURED,\n        temperature: parseFloat(rawReadings.TEMPERATURE),\n        humidity: parseFloat(rawReadings.HUMIDITY),\n        heatIndex: parseFloat(rawReadings.HEATINDEX)\n    })\n}\n\n\nmsg.payload = readings;            \n\nreturn msg;","outputs":1,"noerr":0,"x":498.5,"y":1111,"wires":[["4f899a1e.2c383c","4c34000a.b72238"]]},{"id":"4c34000a.b72238","type":"debug","z":"35f2d326.881a9c","name":"","active":true,"console":"false","complete":"false","x":673.5,"y":1032,"wires":[]}]