deskbuddy.json
[{"id":"35f2d326.881a9c","type":"tab","label":"Flow 1"},{"id":"e811d034.2110a","type":"ibmiot","z":"","name":"DeskBuddy IoT","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"a7b37d5.92696","type":"wiotp-credentials","z":"","name":"","org":"e4c52s","serverName":"","devType":"esp8266","devId":"nodemcu1001","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"5dbe8911.6bafb8","type":"dashDB","z":"","hostname":"bluemix05.bluforcloud.com","db":"BLUDB","port":"50000","name":"BluemixDashDB"},{"id":"e799e7c.6250b18","type":"ibmiot in","z":"35f2d326.881a9c","authentication":"apiKey","apiKey":"e811d034.2110a","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"temp","commandType":"","format":"json","name":"Temperature Messages","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":186.5,"y":188,"wires":[["d4a03749.925148","db76514f.6b4ef"]]},{"id":"9df6082c.b936e","type":"ibmiot in","z":"35f2d326.881a9c","authentication":"apiKey","apiKey":"e811d034.2110a","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"debug","commandType":"","format":"+","name":"Debug Messages","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":180,"y":480,"wires":[["4665e.f17a99a2"]]},{"id":"9f5038d1.8284f8","type":"debug","z":"35f2d326.881a9c","name":"","active":true,"console":"false","complete":"false","x":591.5,"y":495,"wires":[]},{"id":"4665e.f17a99a2","type":"function","z":"35f2d326.881a9c","name":"","func":"var debugString = msg.payload.d.message;\n\nmsg.payload = debugString;\n\nreturn msg;","outputs":1,"noerr":0,"x":384.5,"y":493,"wires":[["9f5038d1.8284f8"]]},{"id":"d4a03749.925148","type":"function","z":"35f2d326.881a9c","name":"Decode Climate Message","func":"var temperature = msg.payload.d.temperature;\nvar humidity = msg.payload.d.humidity;\nvar heatIndex = msg.payload.d.heatIndex;\nvar deviceId = msg.payload.d.deviceId;\n\n//\"Temp=\"+temperature+\"C Humidity=\"+humidity+\"% HeatIndex=\"+heatIndex+\"C\";\n\n\n// prepare SQL for database insertion\n\n\n\nfunction melbourneCurrentLocalTimestamp() {\n    var d = new Date();\n    var current_utc_offset = d.getTimezoneOffset();\n    d.setMinutes(d.getMinutes() + current_utc_offset);\n    d.setMinutes(d.getMinutes() + 10*60);\n    return d;\n}\n\nvar newDate = melbourneCurrentLocalTimestamp();\n\nvar year = newDate.getFullYear();\nvar month = newDate.getMonth();\nvar day = newDate.getDate();\nvar hour = newDate.getHours();\nvar min = newDate.getMinutes();\nvar sec = newDate.getSeconds();\nvar dateStr = \"\"+year+\"-\"+month+\"-\"+day+\"-\"+hour+\":\"+min+\":\"+sec;\n\nvar insertSQL = \"INSERT INTO CLIMATE (DEVICEID,DATEMEASURED,TEMPERATURE,HUMIDITY,HEATINDEX) \";\nvar valuesSQL = \"VALUES ('\"+deviceId+\"',TIMESTAMP_FORMAT('\"+dateStr+\"','YYYY-MM-DD-HH24:MI:SS'),\"+temperature+\",\"+humidity+\",\"+heatIndex+\");\";\n\nmsg.payload = insertSQL+valuesSQL;\n\nreturn msg;","outputs":1,"noerr":0,"x":528,"y":189,"wires":[["b1319927.1c00a"]]},{"id":"db76514f.6b4ef","type":"debug","z":"35f2d326.881a9c","name":"Raw Temp Msgs","active":true,"console":"false","complete":"payload","x":439.5,"y":109,"wires":[]},{"id":"fa9ed2f1.6a6c2","type":"ibmiot out","z":"35f2d326.881a9c","authentication":"apiKey","apiKey":"e811d034.2110a","outputType":"cmd","deviceId":"nodemcu1001","deviceType":"esp8266","eventCommandType":"indicator","format":"json","data":"{\"status\":\"away\"}","qos":0,"name":"IBM IoT","service":"registered","x":564.5,"y":620,"wires":[]},{"id":"aec27c.3c324d88","type":"inject","z":"35f2d326.881a9c","name":"Away","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.5,"y":620,"wires":[["98d747cd.593b5"]]},{"id":"98d747cd.593b5","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = JSON.stringify({\"status\":\"away\"});\n//msg.payload = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":378.5,"y":608,"wires":[["fa9ed2f1.6a6c2"]]},{"id":"d6d4a107.b9425","type":"inject","z":"35f2d326.881a9c","name":"Here","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":736,"wires":[["cf473375.6e6d38"]]},{"id":"cf473375.6e6d38","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = JSON.stringify({\"status\":\"here\"});\n//msg.payload = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":752,"wires":[["fa9ed2f1.6a6c2"]]},{"id":"84011872.3ce668","type":"inject","z":"35f2d326.881a9c","name":"Message","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157,"y":848,"wires":[["e1198c75.3ea8a8"]]},{"id":"e1198c75.3ea8a8","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = JSON.stringify({\"status\":\"message\"});\n//msg.payload = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":864,"wires":[["fa9ed2f1.6a6c2"]]},{"id":"351b39da.c8c60e","type":"http in","z":"35f2d326.881a9c","name":"","url":"/temperature","method":"get","swaggerDoc":"","x":185.5,"y":979,"wires":[["c201d969.9abb8"]]},{"id":"c201d969.9abb8","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = {\n    date:new Date().getTime(),\n    temperature:25.3,\n    humidity:33,\n    heatIndex:23.5\n};\nreturn msg;","outputs":1,"noerr":0,"x":421.5,"y":984,"wires":[["9297a304.a399e"]]},{"id":"9297a304.a399e","type":"http response","z":"35f2d326.881a9c","name":"","x":624.5,"y":979,"wires":[]},{"id":"b1319927.1c00a","type":"dashDB in","z":"35f2d326.881a9c","dashDB":"5dbe8911.6bafb8","service":"_ext_","query":"","params":"","name":"","x":727.5,"y":305,"wires":[["bae38e03.38a2a"]]},{"id":"bae38e03.38a2a","type":"debug","z":"35f2d326.881a9c","name":"","active":true,"console":"false","complete":"false","x":897.5,"y":240,"wires":[]},{"id":"d529508c.3b3bb8","type":"function","z":"35f2d326.881a9c","name":"Retrieve Climate History","func":"var deviceId = msg.req.headers['deviceid'];\n\nvar sql = \"SELECT * FROM CLIMATE WHERE DEVICEID='\"+deviceId+\"' ORDER BY DATEMEASURED DESC LIMIT 8;\";\n\nmsg.payload = sql;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":412.5,"y":1087,"wires":[["c297fc67.d55c5"]]},{"id":"2e30940c.f74d14","type":"http in","z":"35f2d326.881a9c","name":"","url":"/climate","method":"get","swaggerDoc":"","x":149.5,"y":1074,"wires":[["d529508c.3b3bb8"]]},{"id":"c297fc67.d55c5","type":"dashDB in","z":"35f2d326.881a9c","dashDB":"5dbe8911.6bafb8","service":"_ext_","query":"","params":"","name":"","x":466.5,"y":1151,"wires":[["b8adaf54.3047f8"]]},{"id":"4f899a1e.2c383c","type":"http response","z":"35f2d326.881a9c","name":"","x":785.5,"y":1256,"wires":[]},{"id":"b8adaf54.3047f8","type":"function","z":"35f2d326.881a9c","name":"Format responses","func":"var readings = [];\nvar rawReadings = msg.payload;\n\nif (Object.prototype.toString.call(rawReadings) === '[object Array]') {\n\n    node.warn(\"it is an array of length=\"+rawReadings.length);\n    for (i=0; i < rawReadings.length; i++) {\n        readings.push({\n            dateMeasured: rawReadings[i].DATEMEASURED,\n            temperature: parseFloat(rawReadings[i].TEMPERATURE),\n            humidity: parseFloat(rawReadings[i].HUMIDITY),\n            heatIndex: parseFloat(rawReadings[i].HEATINDEX)\n        })\n    }\n} else {\n    node.warn(\"it is NOT an array\");\n    readings.push({\n        dateMeasured: rawReadings.DATEMEASURED,\n        temperature: parseFloat(rawReadings.TEMPERATURE),\n        humidity: parseFloat(rawReadings.HUMIDITY),\n        heatIndex: parseFloat(rawReadings.HEATINDEX)\n    })\n}\n\n\nmsg.payload = readings;            \n\nreturn msg;","outputs":1,"noerr":0,"x":511.5,"y":1239,"wires":[["4f899a1e.2c383c","4c34000a.b72238"]]},{"id":"4c34000a.b72238","type":"debug","z":"35f2d326.881a9c","name":"","active":true,"console":"false","complete":"false","x":686.5,"y":1160,"wires":[]},{"id":"1f09ca89.d6a155","type":"http in","z":"35f2d326.881a9c","name":"","url":"/status/away","method":"get","swaggerDoc":"","x":157.5,"y":561,"wires":[["98d747cd.593b5","a9762bc5.c1fe78"]]},{"id":"5b7f8396.652a14","type":"http in","z":"35f2d326.881a9c","name":"","url":"/status/here","method":"get","swaggerDoc":"","x":129.5,"y":682,"wires":[["cf473375.6e6d38","6cdfdfd8.09ae1"]]},{"id":"a9762bc5.c1fe78","type":"http response","z":"35f2d326.881a9c","name":"","x":362.5,"y":549,"wires":[]},{"id":"6cdfdfd8.09ae1","type":"http response","z":"35f2d326.881a9c","name":"","x":332.5,"y":681,"wires":[]},{"id":"a332eddf.0cc97","type":"ibmiot in","z":"35f2d326.881a9c","authentication":"apiKey","apiKey":"e811d034.2110a","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"motion","commandType":"","format":"json","name":"Motion Event","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":150,"y":60,"wires":[["62850eb2.592d98"]]},{"id":"62850eb2.592d98","type":"debug","z":"35f2d326.881a9c","name":"Motion Event debug","active":true,"console":"false","complete":"payload","x":468,"y":48,"wires":[]}]