deskbuddy.json
[{"id":"35f2d326.881a9c","type":"tab","label":"Flow 1"},{"id":"e811d034.2110a","type":"ibmiot","z":"","name":"DeskBuddy IoT","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"a7b37d5.92696","type":"wiotp-credentials","z":"","name":"","org":"e4c52s","serverName":"","devType":"esp8266","devId":"nodemcu1001","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"e799e7c.6250b18","type":"ibmiot in","z":"35f2d326.881a9c","authentication":"apiKey","apiKey":"e811d034.2110a","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"temp","commandType":"","format":"json","name":"Temperature Messages","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":186.5,"y":188,"wires":[["d4a03749.925148","db76514f.6b4ef"]]},{"id":"4889753a.22661c","type":"debug","z":"35f2d326.881a9c","name":"","active":true,"console":"false","complete":"false","x":664.5,"y":186,"wires":[]},{"id":"9df6082c.b936e","type":"ibmiot in","z":"35f2d326.881a9c","authentication":"apiKey","apiKey":"e811d034.2110a","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"debug","commandType":"","format":"+","name":"Debug Messages","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":167,"y":352,"wires":[["4665e.f17a99a2"]]},{"id":"9f5038d1.8284f8","type":"debug","z":"35f2d326.881a9c","name":"","active":true,"console":"false","complete":"false","x":578.5,"y":367,"wires":[]},{"id":"4665e.f17a99a2","type":"function","z":"35f2d326.881a9c","name":"","func":"var debugString = msg.payload.d.message;\n\nmsg.payload = debugString;\n\nreturn msg;","outputs":1,"noerr":0,"x":371.5,"y":365,"wires":[["9f5038d1.8284f8"]]},{"id":"d4a03749.925148","type":"function","z":"35f2d326.881a9c","name":"","func":"var temp = msg.payload.d.temperature;\nvar humidity = msg.payload.d.humidity;\nvar heatIndex = msg.payload.d.heatIndex;\n\nmsg.payload = \"Temp=\"+temp+\"C Humidity=\"+humidity+\"% HeatIndex=\"+heatIndex+\"C\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":185,"wires":[["4889753a.22661c"]]},{"id":"db76514f.6b4ef","type":"debug","z":"35f2d326.881a9c","name":"Raw Temp Msgs","active":true,"console":"false","complete":"payload","x":439.5,"y":109,"wires":[]},{"id":"fa9ed2f1.6a6c2","type":"ibmiot out","z":"35f2d326.881a9c","authentication":"apiKey","apiKey":"e811d034.2110a","outputType":"cmd","deviceId":"nodemcu1001","deviceType":"esp8266","eventCommandType":"indicator","format":"json","data":"{\"status\":\"away\"}","qos":0,"name":"IBM IoT","service":"registered","x":540.5,"y":506,"wires":[]},{"id":"aec27c.3c324d88","type":"inject","z":"35f2d326.881a9c","name":"Away","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142.5,"y":533,"wires":[["98d747cd.593b5"]]},{"id":"98d747cd.593b5","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = JSON.stringify({\"status\":\"away\"});\n//msg.payload = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":321.5,"y":538,"wires":[["fa9ed2f1.6a6c2"]]},{"id":"d6d4a107.b9425","type":"inject","z":"35f2d326.881a9c","name":"Here","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137,"y":608,"wires":[["cf473375.6e6d38"]]},{"id":"cf473375.6e6d38","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = JSON.stringify({\"status\":\"here\"});\n//msg.payload = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":624,"wires":[["fa9ed2f1.6a6c2"]]},{"id":"84011872.3ce668","type":"inject","z":"35f2d326.881a9c","name":"Message","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":144,"y":720,"wires":[["e1198c75.3ea8a8"]]},{"id":"e1198c75.3ea8a8","type":"function","z":"35f2d326.881a9c","name":"","func":"msg.payload = JSON.stringify({\"status\":\"message\"});\n//msg.payload = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":736,"wires":[["fa9ed2f1.6a6c2"]]}]